@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #EFC69B;
    --secondary-color: #360713;
    --accent-color: #473144;
    --text-dark: #AF1B3F;
    --text-light: #ebebeb;
    --primary-font: "Merriweather", "Baskerville", 'Times New Roman', serif;
    --secondary-font: "Ariel", Helvetica, sans-serif;
}

body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    background-color: var(--text-light);
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    img {
            width: 60px;
            height: 60px;
            margin-top: 10px;
        }
}
header h1{
    font-size: 2em;
    margin-bottom: 5px;
    /* color: var(--primary-color); */
    
}

.search_button{
    text-align: center;
    justify-content: center;
    display: flex;
    img{
        width: 20px;
        height: 20px;
    }
}

#search {
    width: 80%;
    max-width: 300px;
    height: 35px;
    padding: 5px;
    border: 1px solid #360713;
    border-radius: 5px 0  0 5px ;
    font-size: 1em;
}

#search_button {
    border: 1px solid var(--secondary-color);
    width: 35px;
    height: 35px;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: white; */
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); */
}

#search_button img {
    width: 20px;
    height: 20px;
}

article {
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    padding: 10px;
    max-width: 350px;
    margin: 20px auto;
    padding-bottom: 30px;
    /* overflow: hidden; */
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); */
    /* background: white; */
}

article img {
    box-sizing: border-box;
    border-radius: 20px;
    width:auto;
    height: auto;
    max-width: 100%;
    padding: 10px;
}

article div {
    display: inline-block;
    /* background: white; */
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    border: #360713 1px solid;
    font-weight: bold;
    font-size: 0.9em;
    margin: 5px 10px;
    /* border: 1px solid black; */
}

article h2 {
    font-family: 'Merriweather', serif;
    color: #360713;
    font-size: 1.5em;
    margin: 10px 10px;
}


.rating {
    font-size: 1.5em;
    color: gold;
    margin: 5px 5px;
    
}

.icon-star-empty {
    color: #ccc;
}




footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    /* background-color: var(--accent-color); */
    img{
        padding: 8px;
        width: 50px;
        height: 50px;
        }
    }
     
    

@media screen and (min-width: 1024px) 
{
    header {
        display: flex;
        padding: 10px 20px;
        align-items: center;
        justify-content: center;
        margin: 5px;

        img {
            width: 100px;
            height: 100px;
            margin-top: 10px;
        }
    }
    
    header h1 {
        font-size: 4em;
        margin-bottom: 5px;
        /* color: var(--primary-color); */

    }
    .search_button {
        text-align: center;
        justify-content: center;
        display: flex;

        img {
            width: 20px;
            height: 20px;
        }
    }

    #search {
        width: 90%;
        max-width: 500px;
        height: 35px;
        padding: 5px;
        border: 1px solid #360713;
        border-radius: 5px 0 0 5px;
        font-size: 1em;
    }

    #search_button {
        border: 1px solid var(--secondary-color);
        width: 35px;
        height: 35px;
        border-radius: 0 5px 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background: white; */
        /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); */
    }

    #search_button img {
        width: 20px;
        height: 20px;
    }

    article {
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    padding: 10px;
    max-width: 1000px;
    margin: 20px auto;
    padding-bottom: 30px;
    display: flex
    /* overflow: hidden; */
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); */
    /* background: white; */
    }

    article img {
        box-sizing: border-box;
        border-radius: 20px;
        width:500px;
        height: auto;
        max-width: 100%;
        padding: 10px;

    }

    article div {
        display: inline-block;
        color: black;
        padding: 5px 10px;
        border-radius: 5px;
        border: #360713 1px solid;
        font-weight: bold;
        font-size: 0.9em;
        /* margin: 5px 10px; */
        /* background: white; */
        /* border: 1px solid black; */
    }

    article h2 {
        font-family: 'Merriweather', serif;
        color: #360713;
        font-size: 1.5em;
        margin: 10px 10px;
    }
    footer {
        text-align: center;
        padding: 10px 20px;
        
    }

    footer img {
        width: 50px;
        height: 50px;
    }
    
}