@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #ebd55b;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: "Merriweather", "Baskerville", 'Times New Roman', serif;
    --secondary-font: "Ariel", Helvetica, sans-serif;
}

body {
    font-family: var(--primary-font);
    color: var(--text-dark);
    background-color: var(--text-light);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2em;
}

a:link,
a:visited {
    color: var(--accent-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 5px;
    text-align: center;
}

button{
    all:unset;
    color: var(--accent-color);
}
nav {
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #143141;
    /* text-decoration: none; */
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    align-self: center;
}

.imageViewer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.imageViewer button.closeViewer {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 11;
    display: block;
}

.imageViewer img.bigimg {
    max-height: 90%;
    width: auto;
    max-width: 80%;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

figure{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galleryimg {
    max-width: 100%;
    width: 180px;
    height: 135px;
    border: var(--accent-color) 10px solid;
    box-shadow: 15px 15px 10px #6f7364;
}

main h1{
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1em 0;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
}

.hide {
    display: none;
}

@media screen and (min-width: 500px) {
    .gallery {
        grid-template-columns: 1fr;
    }
   
}
@media screen and (max-width: 500px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    
    button{
      display: none;
    }

    .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    
    }

}

@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    /* nav {
        display: block;
    } */
}

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    button{
        display: none;
    }
}