/* Light theme */
body.light-theme {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

.content {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: left;
    /* background-color: #fff;
    color: #000; */
}

.title h1 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.title h2 {
    font-size: 16px;
    font-weight: bold;
    color: #008ae6;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    width: 75%;
    margin: 0 auto;
}


.intro {
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.uni_heading{
    padding-left: 30px;
    padding-right: 30px;
}
.university-does {
    margin: 20px 0;
    padding-left: 30px;
    padding-right: 30px;
}
/* Dark theme */
body.dark-theme {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

body.dark-theme .content {
    background-color: #333;
    color: #fff;
}


footer {
    text-align: center;
    padding-top: 20px;
}

.logo {
    width: 100px;
    height: auto;
    display: inline-block;
}