@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #EFC69B;
    --secondary-color: #360713;
    --accent-color: #473144;
    --text-dark: #AF1B3F;
    --text-light: #ebebeb;
    --primary-font: "Merriweather", "Baskerville", 'Times New Roman', serif;
    --secondary-font: "Ariel", Helvetica, sans-serif;
}

body {
    font-family: var(--primary-font);
    color: var(--text-dark);
    background-color: var(--text-light);
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-rows: 1fr auto;
    text-align: center;
    padding: 10px 20px;
}

nav{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    margin: 0;
    gap: 20px;
    border-bottom: var(--primary-color) 2px solid;
    border-top: var(--primary-color) 2px solid;
}

nav ul {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    list-style: none;
    margin: 20px;
    justify-self: end;
    padding: 0;
}

nav li{
    display: inline;
}

nav a {
    color: var(--text-dark);
    text-decoration: none;
    font-weight: bold;
}

main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

aside{
    gap: 20px;
    padding: 20px;
    border: var(--primary-color) 2px solid;
    border-radius: 10px;
    margin: 10px;
}
article{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* gap: 20px; */
    padding: 20px;
    border: var(--primary-color) 2px solid;
    border-radius: 10px;
    margin: 10px 10px 20px 10px;

}

.article_container{
    display: grid;
    gap: 20px;
}
.article_header{
    grid-column: 1/2;
    border-right: var(--primary-color) 1px solid;
}
.article_info{
    padding-left: 30px;
    
}