form-demo.css
/* form-demo.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input , textarea, select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.errors>p {
    border: 1px solid red;
    padding: 0.5em;
}

/* Style the select arrow for Safari */
select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Style the select arrow for other browsers */
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.hide {
    display: none;
    /* Initially hide the credit card input and label */
}